body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

h1,h2,h3{
    margin: 0;
    padding: 0;
}

header{
    background-color: #000000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1{
    font-size: 24px;
    font-family: "Bebas Neue", serif;
    font-weight: 600;
}

header nav ul{
    font-family: "Oswald", serif;
    font-weight: 600;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li{
    display: inline;
    margin-right: 20px;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #ff4500;
}


.movieslide{
    position: relative;
    margin-bottom: 40px;
}

.carousel-item{
    height: 500px; 
}

.carousel-item img{
    width: 100px; 
    height: 600px;
    object-fit: cover; 
}

.moviesilde .carousel-caption h2{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 36px;
    font-weight: bold;
}

.moviesilde .carousel-caption p{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 18px;
}


.movie-list{
    padding: 20px;
    text-align: center;
}

.movie-list h2{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.movie-grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie-item{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.movie-item img{
    width: 100%;
    height: auto;
}

.movie-item h3{
    font-family: "Teko", serif;
    font-weight: 600;
    margin-top: 10px;
    font-size: 16px;
}

footer{
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
